/* || ===

= IMKAN.com.sa
= IMAGES & BG IMAGES

=== || */
.about-background{
  background: url('../imgs/about-bg.png') no-repeat;
  background-size: 100%;
  background-position: bottom;
}


.blog-bg{
  background: url('../imgs/last-bg.png') no-repeat;
  background-size: 100%;
  background-position: top;
  padding-top: 280px;
}
